<section class="post-list-section">
    <h2 class="post-list-heading">
        {% if page.list_title %}
            {{ page.list_title }}
        {% else %}
            Posts
        {% endif %}
    </h2>
    <ul class="post-list">
        {% assign date_format = site.black-ink.date_format %}
        {% for post in site.posts %}
            <li>
                <div class="post-list-meta">{{ post.date | date: date_format }}</div>
                <h3>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
            </li>
        {% endfor %}
    </ul>
</section>